{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <h1>Tutorva</h1>
        </div>
        <nav class="nav-links">
            <ul>
                <li><a href="{% url 'adminhome' %}">Home</a></li>
                <li><a href="{% url 'adminstudents' %}">Students</a></li>
                <li><a href="{% url 'admintutors' %}">Tutors</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <h2>Welcome to Admin Dashboard</h2>
    </main>

</body>
</html>
